/* Colours */
$blue: #3eb0ef;
$black: #000;
$darkgrey: #15171a;
$midgrey: #738a94;
$lightgrey: #c5d2d9;
$whitegrey: #e5eff5;
$white: #fff;

$colors: (
  'blue': $blue,
  'black': $black,
  'darkgrey': $darkgrey,
  'midgrey': $midgrey,
  'lightgrey': $lightgrey,
  'whitegrey': $whitegrey,
  'white': $white,
);
